*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 600px;
}
/* stile header top */
.header-top{
    padding: 15px 0px;
}

.container-header-top{
    width: 65%;
    height: 60px;
    margin: 0px auto;
    display: flex;
}

/* larghezza sezione logo e login*/
.logo, .login{
    width: 20%;
}

/* centratura sezione link*/
.link{
    width: 60%;
    display: flex;
    justify-content: center;
}

.login{
    justify-content: flex-end;
}

.logo, .login, .link{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
}

/* stile lista link*/
ul{
    width: 60%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

ul li{
    margin: 0px 10px;
}

li a{
    text-decoration: none;
}


/* header bottom*/

.header-bottom{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header-bottom{
    width: 50%;
    height: 400px;
}

/**/









/* regole debug*/

.debug header{
    background-color: #ADD8E6;
}

.debug .container-header-top{
    background-color: #DAA520;
}

.logo, .login, .link{
    border: 3px dashed black;
}

li a{
    color: black;
}

.debug .header-bottom{
    background-color: #00008B;
}

.debug .container-header-bottom{
    border: 2px dashed black;
    background-color: #EE82ED;
}
/* fine regole debug*/